################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Prog_lab8_cpp/Prog_lab8_cpp.vcxproj.user
/Prog_lab8_cpp/Prog_lab8_cpp.vcxproj.filters
/Prog_lab8_cpp/Prog_lab8_cpp.vcxproj
/Prog_lab8_cpp/Prog_lab8_cpp.sln
/Prog_lab8_cpp/Debug/vc142.pdb
/Prog_lab8_cpp/Debug/vc142.idb
/Prog_lab8_cpp/Debug/Teacher.obj
/Prog_lab8_cpp/Debug/Student.obj
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.vcxproj.FileListAbsolute.txt
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/Prog_lab8_cpp.lastbuildstate
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/link.write.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/link.read.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/link.command.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/CL.write.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/CL.read.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/CL.command.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.pdb
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.log
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.ilk
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.exe.recipe
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.exe
/Prog_lab8_cpp/Debug/main.obj
/Prog_lab8_cpp/Debug/Human.obj
/Prog_lab8_cpp/Debug/Fio.obj
/Prog_lab8_cpp/Debug/Faculty.obj
/Prog_lab8_cpp/.vs/VSWorkspaceState.json
/Prog_lab8_cpp/.vs/slnx.sqlite
/Prog_lab8_cpp/.vs/ProjectSettings.json
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/ipch/AutoPCH/7eaf95a9e509b314/PROG_LAB8_CPP.ipch
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.opendb
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.db-wal
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.db-shm
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.db
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Prog_lab8/v16/Browse.VC.db
/.vs/Prog_lab8/v16/.suo
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/ipch/AutoPCH/593584fb1f23eea5/FACULTY.ipch
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/ipch/AutoPCH/31c9c2c67fe7c440/MAIN.ipch
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/ipch/AutoPCH/1acbe91e1f3ab527/FIO.ipch
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/ipch/AutoPCH/406081951eb5bf8b/TEACHER.ipch
/Prog_lab8_cpp/x64/Debug/vc142.pdb
/Prog_lab8_cpp/x64/Debug/vc142.idb
/Prog_lab8_cpp/x64/Debug/Teacher.obj
/Prog_lab8_cpp/x64/Debug/Student.obj
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/unsuccessfulbuild
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/Prog_lab8_cpp.lastbuildstate
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/link.write.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/link.read.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/link.command.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/link-rc.write.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/link-rc.read.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/link-cvtres.write.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/link-cvtres.read.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/CL.write.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/CL.read.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.tlog/CL.command.1.tlog
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.pdb
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.log
/Prog_lab8_cpp/x64/Debug/main.obj
/Prog_lab8_cpp/x64/Debug/Human.obj
/Prog_lab8_cpp/x64/Debug/Fio.obj
/Prog_lab8_cpp/x64/Debug/Faculty.obj
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.vcxproj.FileListAbsolute.txt
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.ilk
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.exe.recipe
/Prog_lab8_cpp/x64/Debug/Prog_lab8_cpp.exe
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/ipch/AutoPCH/dce393810ceba128/HUMAN.ipch
/Prog_lab8_csharp/Prog_lab8_csharp.sln
/Prog_lab8_csharp/Prog_lab8_csharp.csproj
/Prog_lab8_csharp/obj/Debug/Prog_lab8_csharp.csproj.AssemblyReference.cache
/Prog_lab8_csharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Prog_lab8_csharp/App.config
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/.suo
/Prog_lab8_csharp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Prog_lab8_csharp/obj/Debug/Prog_lab8_csharp.pdb
/Prog_lab8_csharp/obj/Debug/Prog_lab8_csharp.exe
/Prog_lab8_csharp/obj/Debug/Prog_lab8_csharp.csproj.FileListAbsolute.txt
/Prog_lab8_csharp/obj/Debug/Prog_lab8_csharp.csproj.CoreCompileInputs.cache
/Prog_lab8_csharp/bin/Debug/Prog_lab8_csharp.pdb
/Prog_lab8_csharp/bin/Debug/Prog_lab8_csharp.exe.config
/Prog_lab8_csharp/bin/Debug/Prog_lab8_csharp.exe
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/ipch/AutoPCH/fa93e28d6061cc73/MAIN.ipch
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/ipch/AutoPCH/9715abd91d38618/FACULTY.ipch
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/ipch/AutoPCH/1235fbc2b0c83a5e/TEACHER.ipch
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/Browse.VC.opendb
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/Browse.VC.db-wal
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/Browse.VC.db-shm
/Prog_lab8_csharp/.vs/Prog_lab8_csharp/v16/Browse.VC.db
