################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Prog_lab8_cpp/Prog_lab8_cpp.vcxproj.user
/Prog_lab8_cpp/Prog_lab8_cpp.vcxproj.filters
/Prog_lab8_cpp/Prog_lab8_cpp.vcxproj
/Prog_lab8_cpp/Prog_lab8_cpp.sln
/Prog_lab8_cpp/Debug/vc142.pdb
/Prog_lab8_cpp/Debug/vc142.idb
/Prog_lab8_cpp/Debug/Teacher.obj
/Prog_lab8_cpp/Debug/Student.obj
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.vcxproj.FileListAbsolute.txt
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/Prog_lab8_cpp.lastbuildstate
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/link.write.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/link.read.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/link.command.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/CL.write.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/CL.read.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.tlog/CL.command.1.tlog
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.pdb
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.log
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.ilk
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.exe.recipe
/Prog_lab8_cpp/Debug/Prog_lab8_cpp.exe
/Prog_lab8_cpp/Debug/main.obj
/Prog_lab8_cpp/Debug/Human.obj
/Prog_lab8_cpp/Debug/Fio.obj
/Prog_lab8_cpp/Debug/Faculty.obj
/Prog_lab8_cpp/.vs/VSWorkspaceState.json
/Prog_lab8_cpp/.vs/slnx.sqlite
/Prog_lab8_cpp/.vs/ProjectSettings.json
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/ipch/AutoPCH/7eaf95a9e509b314/PROG_LAB8_CPP.ipch
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.opendb
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.db-wal
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.db-shm
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/Browse.VC.db
/Prog_lab8_cpp/.vs/Prog_lab8_cpp/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Prog_lab8/v16/Browse.VC.db
/.vs/Prog_lab8/v16/.suo
